/Hmwk/Assignment_3/Gaddis_9th_Ch4_Prob1/build/
/Hmwk/Assignment_3/Gaddis_9th_Ch4_Prob1/dist/
/Lab/Lab Assignment 4 - Truth Table and Menu/TruthTable/build/
/Lab/Lab Assignment 4 - Truth Table and Menu/TruthTable/dist/
/Lab/Lab Assignment 4 - Truth Table and Menu/menu/build/
/Lab/Lab Assignment 4 - Truth Table and Menu/menu/dist/